.App{
  margin: 25px 200px;
  display: flex;
  justify-content: space-between;
}

.List{
  max-width: 200px;
}

.List__element{
  border: 1px solid black;
  cursor: pointer;
}

.List__selected-element{
  border: 1px solid black;
  background-color: aqua;
}